@import "tailwindcss";

@theme {
  /* Ini menggantikan setting di tailwind.config.ts */
  --color-shopee: #EE4D2D;
  --color-shopee-hover: #d03e1f;
}

/* Custom Utilities (opsional) */
html,
body {
  scroll-behavior: smooth;
}